*.iml
.gradle
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build
corpus/

# GoTenna SDK
libs/gotenna-public-sdk.aar

# ATAK SDK
libs/main.jar
libs/atak-javadoc.jar
